<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-48/blob/main/Actividad_Semanal_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Equipo 48
* Materia: Ciencia y Analítica de Datos.
* Nombre de la entrega: Semana 3 Actividad 1.
* Fecha: 10/10/2022.
* Francisco Medellin Zertuche - A01794044.
* Roberto Romero Vielma - A00822314
* Profesor titular: Jobish Vallikavungal Devassia. 
* Profesor tutor: Roberto Antonio Guevara González.

Importamos la librería pandas

In [23]:
import pandas as pd

Cargamos la base de datos con la función **pandas.read_csv**

In [24]:
df=pd.read_csv("https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv")

Creamos un nuevo dataframe que sea copia del original, para eliminar los registros que se encuentran vacíos y verificar que esto no nos afecte para futuros análisis

In [25]:
ndf=df.copy()
ndf.dropna(inplace = True)
ndf2= ndf.copy()

Primero modificamos la columna X3 para quedarnos solamente con valores dentro de la categoría 4 (otros estudios)

In [26]:
ndf2["X3"] = ndf2[["X3"]].replace([0,5,6],4)

Hacemos lo mismo con la columna X4 para reemplazar los valores 0 con 3 (Otros)

In [27]:
ndf2["X4"]=ndf2[["X4"]].replace(0,3)

Con las columnas X6 a X11 sustituimos el valor de -2 por -1 (Pago oportuno)

In [28]:
slc = ndf2.loc[ : , "X6":"X11"]
for c in slc.columns:
  ndf2[c] = ndf2[[c]].replace(-2,-1)

Tal como se puede observar las columnas X6 a la X11 presentan otro valor que no se menciona en la documentación, el valor **0**, procedemos a reemplazarlo con **-1** dado que es muy probable que sea un error de captura

In [29]:
slc = ndf2.loc[ : , "X6":"X11"]
for c in slc.columns:
  ndf2[c] = ndf2[[c]].replace(0,-1)

In [32]:
df = ndf2.copy()

# Parte 1: Ejercicio guiado

## Paso 1: 
Determina el número mínimo de componentes principales que representan la mayor parte de la variación en sus datos

In [33]:
import pandas as pd
import numpy as np

from sklearn.decomposition import PCA
from sklearn import preprocessing

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
# Analisis rapido del DF
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,-1.0,-1.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,-1.0,-1.0,-1.0,-1.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,-1.0,-1.0,-1.0,-1.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,-1.0,-1.0,-1.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Verificamos que solo tenemos variables cuantitativas numericas.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29958 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      29958 non-null  int64
 1   X1      29958 non-null  int64
 2   X2      29958 non-null  float64
 3   X3      29958 non-null  float64
 4   X4      29958 non-null  float64
 5   X5      29958 non-null  float64
 6   X6      29958 non-null  float64
 7   X7      29958 non-null  float64
 8   X8      29958 non-null  float64
 9   X9      29958 non-null  float64
 10  X10     29958 non-null  float64
 11  X11     29958 non-null  float64
 12  X12     29958 non-null  float64
 13  X13     29958 non-null  float64
 14  X14     29958 non-null  float64
 15  X15     29958 non-null  float64
 16  X16     29958 non-null  float64
 17  X17     29958 non-null  float64
 18  X18     29958 non-null  float64
 19  X19     29958 non-null  float64
 20  X20     29958 non-null  float64
 21  X21     29958 non-null  float64
 22  X22     29958 non-null  float64
 23  X23     29958 non-null  float64
 24  Y       29958 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.9 MB

El método preprocessing nos sirve para estandarizar el data frame.<br>
La estandarización de los datos es un paso requerido para el metodo PCA.<br>
Al estandarizar, la media de todos los datos será 0 con un rango de -1 a 1. <br>

In [37]:
# Recordatorio: asegurarse de limpiar el df, aqui el df ya ha sido limpiado.
pcs = PCA()
pcs.fit(preprocessing.scale(df))

PCA()

La estandarización nos sirve para evitar grandes varianzas entre los componente principales, además de que elimina la mayoría de los outliers dentro del dataset

Analizamos la desviacion estandar, la varianza y la proporcion acumulativa de varianza de los  PCA's.

In [38]:
pcsSummary_df = pd.DataFrame({'Desviación estándar': np.sqrt(pcs.explained_variance_),
                             'Proporción de la varianza': pcs.explained_variance_ratio_,
                             'Proporción acumulativa': np.cumsum(pcs.explained_variance_ratio_)
                             })

pcsSummary_df = pcsSummary_df.transpose()
pcsSummary_df.columns = ['PC{}'.format(i) for i in range(1, len(pcsSummary_df.columns) + 1)]
pcsSummary_df.round(4)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,...,PC16,PC17,PC18,PC19,PC20,PC21,PC22,PC23,PC24,PC25
Desviación estándar,2.4356,2.0112,1.2854,1.2330,1.0328,1.0126,1.0033,0.9913,0.9470,0.9402,...,0.7309,0.7078,0.5972,0.5130,0.4970,0.4530,0.2657,0.2025,0.1588,0.1524
Proporción de la varianza,0.2373,0.1618,0.0661,0.0608,0.0427,0.0410,0.0403,0.0393,0.0359,0.0354,...,0.0214,0.0200,0.0143,0.0105,0.0099,0.0082,0.0028,0.0016,0.0010,0.0009
Proporción acumulativa,0.2373,0.3991,0.4652,0.5260,0.5686,0.6097,0.6499,0.6892,0.7251,0.7605,...,0.9307,0.9507,0.9650,0.9755,0.9854,0.9936,0.9964,0.9981,0.9991,1.0000