<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-48/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1 Fundamentos de bases de datos

## 1. Fundamentos de bases de datos y para ciencia de datos.

Una base de datos es una colección organizada de datos que mediante el uso de software podemos tener diferentes tipos. Estas son capaces de modelar un sistema del mundo real mediante los datos.
Normalmente una base de datos se compone de tablas de datos organizadas por filas columnas y celdas. 
<br>Terminologías:
* Una tabla es la combinación de filas(registros de información) y de columnas(campos de información).
* Registros, información recolectada separada por columnas o campos.
* Campos, las diferentes categorías de la información separadas por columnas.

Tipos de bases de datos relacionales  y no relacionales.
* Bases de datos relacionales, son aquellas que tienen datos lógicamente relacionados entre si, mediante el uso de entidades, atributos o campos en las diferentes tablas. Un ejemplo de esto seria una base de datos que tenga 2 tablas en donde una tabla contiene un campo relacionado con otro campo de la otra tabla.
* Bases de datos no relacionales: Aquellas la informacion se organiza por categorias y no por relaciones.

Otro concepto importante es el de DBMS y DML.
* DBMS (Data Bases Manangment System),un software que permite interactuar con la base de datos.
* DML  Es el lenguaje de manipulación de datos, ejemplo: SQL.

## 2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

Data Warehouse (DW) es un almacén de datos o sea un deposito central de información que recopila y centraliza grandes cantidades de datos organizados ya sean, bases de datos relacionales o de diferentes fuentes, transformando datos en esquemas ordenados que permitan hacer consultas a diferentes fuentes de datos simultaneamente.  Es un tipo de sistema de gestión de datos diseñado para habilitar y ayudar a actividades relacionadas con Inteligencia de negocios.
<br>
Los usuarios de un negocio dependen de herramientas para reportes, dashboards,  extracción de información de datos y monitoreo del rendimiento de su negocio. Un data warehouse hace posible que estas herramientas puedan almacenar datos eficientemente y reducir los tiempos de entrada y salida de resultados de consultas.
<br>
Usualmente un DW incluye los siguientes elementos:
* Base de datos relacionales.
* ELTs o ETLs para extracción, carga y transformación de datos.
* Herramientas de análisis de visualización de datos.
* Integración con herramientas mas sofisticadas de data science o de inteligencia artificial.
<br><br>

Beneficios de un DW:
* Orientado a sujetos, analizar datos sobre un sujeto en particular o de una área funcional en especifico. Ejemplo: Ventas.
* Integrado, crea consistencia entre diferentes tipos de datos.
* No volátiles, una vez la data esta en el DW es estable y no tendrá cambios.
* Variante-Tiempo, el análisis de un DW se vera distinto con el tiempo.
<br><br>

Data Lakes y Data Warehouses:<br>
Las organizaciones utilizan ambos para grandes volúmenes de datos de diferentes orígenes. Seleccionar cuando usar uno u otro depende de que se pretende hacer con los datos.
<br>
* Data Warehouse:  Especialmente diseñado para análisis de datos y entender las relaciones entre la data necesitando de datos organizados orientados en aplicaciones de BI.
* Data Lake es un repositorio de datos estructurados, semi-estructurados y no estructurados. Datos sin filtros que pueden ser usados después para propósitos en particular.

# Parte 2: Selección y limpieza de los Datos en Python
Importamos la librería pandas

In [79]:
import pandas as pd

Cargamos la base de datos con la función **pandas.read_csv**

In [80]:
df=pd.read_csv("https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv")

Visualizamos el dataframe

In [81]:
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Verificamos si el dataset cuenta con valores faltantes

In [82]:
df.isnull().values.any()

True

Visualizamos las columnas que presentan datos faltantes

In [83]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Ahora checamos cuantos valores faltan en cada columna

In [84]:
df.isnull().sum()

ID      0
X1      0
X2      1
X3      2
X4      2
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

Creamos un nuevo dataset que sea copia del original, para eliminar los registros que se encuentran vacíos y verificar que esto no nos afecte para futuros análisis

In [85]:
ndf=df.copy()
ndf.dropna(inplace = True)

Verificamos si alguna columna presenta valores vacíos

In [86]:
ndf.isnull().sum()

ID     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
Y      0
dtype: int64

Comparamos el dataset original con el dataset con los registros faltantes eliminados

In [87]:
largo_df=len(df)
largo_ndf=len(ndf)
print("Número de filas del dataset original:",largo_df)
print("Número de filas del dataset con registros vacíos:",largo_ndf)

Número de filas del dataset original: 30000
Número de filas del dataset con registros vacíos: 29958

Determinamos el porcentaje de datos eliminados

In [88]:
print(100-((largo_ndf*100)/largo_df))

0.14000000000000057

Menos del 1% de los datos han sido eliminados, lo que estadísticamente no afectará a nuestro dataset para posteriores análisis.

Posteriormente obtenemos las estadísticas del Dataframe, dado que el Dataframe cuenta con muchas columnas dividiremos el Dataframe en 2, para visualizar correctamente todos los datos

In [89]:
ndf.loc[:,"ID":"X12"].describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,-0.291575,51248.119901
std,8654.547473,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,1.149303,73674.949943
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3559.250000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22379.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67190.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000

In [90]:
ndf.loc[:,"X13"::].describe()

,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,49200.493825,4.703239e+04,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,71211.232744,6.938524e+04,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2984.000000,2.664750e+03,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,21194.500000,2.008550e+04,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,64027.750000,6.018300e+04,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

La documentación del Dataset disponible en el enlace: https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt


Dice lo siguiente:

```
Attribute Information:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
X2: Gender (1 = male; 2 = female). 
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
X4: Marital status (1 = married; 2 = single; 3 = others). 
X5: Age (year). 
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005. 

```



De lo que podemos concluir que:

* X3 (Educación), solo puede contener valores de 1 al 4 y en el dataset el minimo es de cero y el máximo de 6, por lo que se deben reemplazar los valores 0, 5 y 6  con 4 (que es la categoría de otros estudios).
* X4 (Marital) tiene 3 valores, que son 1, 2 y 3, sin embargo en el dataset también se presentan valores 0, mismos que deben ser reemplazados con 3 (que simboliza otros dentro de esa columna).
* De X6 a X11 (Fechas de pago) los valores dentro de la columna deben ser -1, 1, 2, 3, 4, 5, 6, 7, 8 y 9, sin embargo se presentan valores con -2, mismos que se pueden reemplazar con -1, debido a que muy probablemente sean errores de captura.

Por lo que procederemos a normalizar los datos, para lo cual haremos una copia del dataset con los registros vacíos eliminados

In [91]:
ndf2=ndf.copy()

Primero modificamos la columna X3 para quedarnos solamente con valores entre 1 y el 4

In [92]:
ndf2["X3"] = ndf2[["X3"]].replace([0,5,6],4)

Hacemos lo mismo con la columna X4 para reemplazar los valores 0 con 3 (Otros)

In [93]:
ndf2["X4"]=ndf2[["X4"]].replace(0,3)

Con las columnas X6 a X11 sustituimos el valor de -2 por -1 (Pago oportuno)

In [94]:
slc = ndf2.loc[ : , "X6":"X11"]
for c in slc.columns:
  ndf2[c] = ndf2[[c]].replace(-2,-1)

Visualizamos si las columnas sólo presentan valores dentro de los rangos definidos en la documentación

In [103]:
columnas_de_interes=ndf2.loc[:,"X3":"X11"]
for i in columnas_de_interes.columns:
   valores_unicos=ndf2[i].unique()
   print(ndf2[i].name,": ",sorted(valores_unicos))

X3 :  [1.0, 2.0, 3.0, 4.0]
X4 :  [1.0, 2.0, 3.0]
X5 :  [21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 79.0]
X6 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X7 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X8 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X9 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X10 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X11 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

Tal como se puede observar las columnas X6 a la X11 presentan otro valor que no se menciona en la documentación, el valor **0**, procedemos a reemplazarlo con **1** dado que es muy probable que sea un error de captura

In [104]:
slc = ndf2.loc[ : , "X6":"X11"]
for c in slc.columns:
  ndf2[c] = ndf2[[c]].replace(0,1)

Comprobamos que ya no se presenten valores fuera de los rangos establecidos en la documentación

In [105]:
columnas_de_interes=ndf2.loc[:,"X3":"X11"]
for i in columnas_de_interes.columns:
   valores_unicos=ndf2[i].unique()
   print(ndf2[i].name,": ",sorted(valores_unicos))

X3 :  [1.0, 2.0, 3.0, 4.0]
X4 :  [1.0, 2.0, 3.0]
X5 :  [21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 79.0]
X6 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X7 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X8 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X9 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X10 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
X11 :  [-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]

Visualizamos como quedaron las columnas después de normalizar los datos

In [97]:
ndf2.loc[:,"ID":"X11"].describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.842212,1.557147,35.483443,0.566193,0.516456,0.494960,0.472328,0.449730,0.414614
std,8654.547473,129737.299088,0.489070,0.744557,0.521388,9.214319,1.076167,1.153467,1.153255,1.142171,1.123062,1.134584
min,1.000000,10000.000000,1.000000,1.000000,1.000000,21.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,30000.000000,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

Y con todos los pasos anteriores, ya estaría listo nuestro dataset para futuros análisis